body {
    margin: 0 auto;
    width: 25%;
}

header {
    background-color: #8cd98c;
    text-transform: uppercase;
}

h1 {
    color: white;
    font-size: 23px;
    margin: 50px;
    text-align: center;
}


.delete {
    border: red solid;
    background-color: red;
    color: white;
    height: 30px;
    margin-right: 10px;
}

.skills {
    margin: 10px;
}

ul {
    color: orange;
    font-size: 20px;
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    margin: 5px 5px 5px 0px;
}

.list {
    margin: 50px 0;
}

.skills {
    margin: 0;
    
}

.submitSection {
    display: flex;
    justify-content: space-between;
}

input {
    border: #8cd98c 2px solid;
    width: 70%;
    height: 25px;
    margin-right: 5px;
}

#addSkill {
    border: #8cd98c 3px solid;
    background-color: white;
    color: #8cd98c;
    font-size: 15px;
    margin-left: 5px;
    padding: 5px;
    text-transform: uppercase;
}